{% ckan_extends %}

{% block custom_fields %}
{% endblock %}



{% block package_metadata_fields %}

{% block package_metadata_author %}
  {{ super() }}
{% endblock %}

{% block package_metadata_fields_maintainer %}
  {{ super() }}
{% endblock %}

{% block package_metadata_fields_custom %}
  {{ super() }}
{% endblock %}

  <div class="control-group">
  </div>

  <table width="100%" cellspacing="8px">
  <tr>
    <td>
        <div class="control-group control-select">
        <label class="control-label" for="update_frequency">Update frequency</label>
        <div class="controls ">
          <select id="update_frequency" name="update_frequency">
              <option value=""></option>
                {% for frequency in h.update_frequency()  %}
                  <option value="{{ frequency }}" {% if frequency in data.get('update_frequency', []) %}selected="selected"{% endif %}>{{ frequency }}</option>
                {% endfor %}
          </select>

        </div>
      </div>
    </td>
    <td>
    {{ form.input('next_review_date', label=_('Next review date'), id='field-next_review_date', placeholder=_('e.g. 10/11/2014'), value=data.next_review_date, error=errors.next_review_date, classes=['control-medium']) }}
    </td>
  </tr>
  </table>

  <h2>Extra fields <small>Optional</small></h2>

  <table width="100%">
  <tr>
    <td>
        {{ form.input('supported_until', label=_('Supported until'), id='field-supported_until', placeholder=_('e.g. 01/12/2014'), value=data.supported_until, error=errors.supported_until, classes=['control-medium']) }}
    </td>
    <td>
        <span class="info-block info-block-small">
          <i class="icon-info-sign"></i>
          The date this dataset will stop being maintained
        </span>
    </td>
  </tr>
  </table>

  <div class="control-group">
    <label class="control-label" for="field-subject-list">{{ _("Subject") }}</label>
    <div class="controls">
      <select id="field-subject-list" name="subject_list" data-module="autocomplete">
        <option value=""></option>
        {% for subject in h.subject_list()  %}
          <option value="{{ subject }}" {% if subject in data.get('subject_list', []) %}selected="selected"{% endif %}>{{ subject }}</option>
        {% endfor %}
      </select>
      <span class="info-block info-inline">
        <i class="icon-info-sign"></i>
            The subject list is derived from the top-level subjects found at <a href="http://standards.esd.org.uk/?uri=list%2Fsubjects">LG Inform</a> and are only generally applicable to Local Authorities.
       </span>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="field-service_list">{{ _("Service") }}</label>
    <div class="controls">
      <select id="field-service_list" name="service_list" data-module="autocomplete">
          <option value=""></option>
        {% for service in h.service_list()  %}
          <option value="{{ service }}" {% if service in data.get('service_list', []) %}selected="selected"{% endif %}>{{ service }}</option>
        {% endfor %}
      </select>
        <span class="info-block info-inline">
          <i class="icon-info-sign"></i>
           The Service list is derived from the top-level services found at <a href="http://standards.esd.org.uk/?uri=list%2Fservices">LG Inform</a> and are only generally applicable to Local Authorities.
        </span>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="field-spatial_coverage">{{ _("Spatial Coverage/Geographic area") }}</label>
    <div class="controls">
      <select id="field-spatial_coverage" name="spatial_coverage" data-module="autocomplete">
          <option value=""></option>
        {% for coverage in h.spatial_coverage()  %}
          <option value="{{ coverage }}" {% if coverage in data.get('spatial_coverage', []) %}selected="selected"{% endif %}>{{ coverage }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  {% block dataset_fields %}

  {% endblock dataset_fields %}


{% endblock %}